openapi: 3.1.0
info:
  title: WAVE Realtime API
  version: 0.0.0
  description: |
    Edge WebRTC SFU for browser-first, bidirectional interactive media — rooms,
    voice agents, and calls. Layer 1 (Edge) of the WAVE Protocol Plane.

    **Status: live.** The substrate decision is made and shipped: Cloudflare Realtime
    (Calls) SFU + per-room Durable Object (`RoomDO`). Interactive rooms
    (`/v1/realtime/rooms/{room}/{intent}`), WHIP ingest (`/v1/whip/publish`), WHEP egress
    (`/v1/whep/subscribe`), the CF Stream bridge, and voice agents are armed live; surfaces
    gated off in `wrangler.toml` (presence WebSocket, routed egress router) carry
    `x-lifecycle: planned`/`x-lifecycle: inert` below. The 501 catch-all is the honest
    fall-through for any un-gated route.

    ### Authentication
    Requests carry a `wave-token-v1` Bearer token.  Auth and entitlement
    enforcement are **delegated to the WAVE API gateway** upstream; the edge worker
    forwards `Authorization` untouched without making access decisions.

    ### x402 / Payment metering
    Per-connection metering is planned (`x402-metered` tag in capabilities.json;
    events `rtc.session.opened` / `rtc.session.closed` on the `x402-meter`
    transport).  The `402 Payment Required` + `WWW-Authenticate: Payment` flow
    is documented below for the WHIP/WHEP endpoints to match the forthcoming
    gateway enforcement pattern; it is **not yet enforced by this worker**.

  contact:
    name: WAVE Online
    url: https://wave.online
  license:
    name: See LICENSE
    url: https://github.com/wave-av/wave-realtime-edge/blob/master/LICENSE

servers:
  - url: https://rt.wave.online
    description: Production edge (Cloudflare Workers)

tags:
  - name: observability
    description: Health and liveness checks
  - name: ingest
    description: WebRTC WHIP — publish a media track
  - name: egress
    description: WebRTC WHEP — subscribe to a media track

paths:
  /health:
    get:
      operationId: getHealth
      summary: Health check
      description: |
        Returns liveness state for the worker. No auth required. Other live
        protocol surfaces are documented below.
      tags: [observability]
      security: []
      responses:
        "200":
          description: Worker is live
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                ok: true
                service: wave-realtime-edge
                layer: edge
                protocol: webrtc-sfu
                version: dev
        "429":
          description: Rate limited by Cloudflare or the upstream gateway
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/whip/publish:
    post:
      operationId: whipPublish
      summary: Publish a WebRTC track (WHIP)
      description: Accepts an SDP offer and creates a Cloudflare Realtime session.
      tags: [ingest]
      x-lifecycle: live
      security:
        - waveTokenV1: []
        - x402Payment: []
      requestBody:
        required: true
        content:
          application/sdp:
            schema: { type: string, description: SDP offer body }
      responses:
        "201":
          description: SDP answer and established resource
          content:
            application/sdp: { schema: { type: string } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /v1/whip/resource/{id}:
    patch:
      operationId: whipResourcePatch
      summary: Update a WHIP resource (trickle ICE)
      tags: [ingest]
      x-lifecycle: live
      parameters:
        - $ref: "#/components/parameters/ResourceId"
      security: [{ waveTokenV1: [] }]
      responses: { "204": { description: Resource updated } }
    delete:
      operationId: whipResourceDelete
      summary: Delete a WHIP resource
      tags: [ingest]
      x-lifecycle: live
      parameters: [{ $ref: "#/components/parameters/ResourceId" }]
      security: [{ waveTokenV1: [] }]
      responses: { "204": { description: Resource deleted } }

  /v1/whep/subscribe:
    post:
      operationId: whepSubscribe
      summary: Subscribe to a WebRTC track (WHEP)
      description: Accepts an SDP offer and creates a Cloudflare Realtime egress session.
      tags: [egress]
      x-lifecycle: live
      security:
        - waveTokenV1: []
        - x402Payment: []
      requestBody:
        required: true
        content:
          application/sdp: { schema: { type: string } }
      responses:
        "201": { description: SDP answer and established resource }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /v1/whep/resource/{id}:
    patch:
      operationId: whepResourcePatch
      summary: Update a WHEP resource (trickle ICE)
      tags: [egress]
      x-lifecycle: live
      parameters: [{ $ref: "#/components/parameters/ResourceId" }]
      security: [{ waveTokenV1: [] }]
      responses: { "204": { description: Resource updated } }
    delete:
      operationId: whepResourceDelete
      summary: Delete a WHEP resource
      tags: [egress]
      x-lifecycle: live
      parameters: [{ $ref: "#/components/parameters/ResourceId" }]
      security: [{ waveTokenV1: [] }]
      responses: { "204": { description: Resource deleted } }

  /v1/realtime/rooms/{room}/{intent}:
    post:
      operationId: realtimeRoomIntent
      summary: Execute a realtime room intent
      description: Room signaling for join, publish, subscribe, renegotiate, and leave.
      x-lifecycle: live
      parameters:
        - name: room
          in: path
          required: true
          schema: { type: string }
        - name: intent
          in: path
          required: true
          schema: { type: string }
      security: [{ waveTokenV1: [] }]
      responses: { "200": { description: Intent result } }

components:
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: Resource identifier returned when the session is created
      schema:
        type: string
        minLength: 1

    StreamKey:
      name: streamKey
      in: path
      required: true
      description: Opaque publish key identifying the stream slot
      schema:
        type: string
        minLength: 1

    Slug:
      name: slug
      in: path
      required: true
      description: Opaque slug identifying the media resource to subscribe to
      schema:
        type: string
        minLength: 1

  responses:
    Unauthorized:
      description: Missing or invalid `wave-token-v1` Bearer token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: UNAUTHORIZED
            message: "Missing or invalid Authorization header"

    PaymentRequired:
      description: |
        x402 payment challenge. The gateway issues this when the caller has not
        pre-authorized the per-connection charge.  The client should settle
        on-chain and retry with `Authorization: Payment <settlement>`.
      headers:
        WWW-Authenticate:
          description: |
            Payment challenge parameters:
            `realm`, `amount` (in minor units), `asset` (token contract),
            `network` (chain ID), `payTo` (treasury address), `nonce`.
          schema:
            type: string
            example: >-
              Payment realm="wave", amount="1000", asset="0xUSDC",
              network="8453", payTo="0xTREASURY", nonce="abc123"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PaymentChallenge"

    NotImplemented:
      description: Endpoint not yet implemented (scaffold stage)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: REALTIME_NOT_IMPLEMENTED
            path: /whip/my-key

  schemas:
    HealthResponse:
      type: object
      required: [ok, service, layer, protocol, version]
      properties:
        ok:
          type: boolean
          description: Always `true` when the worker is live
        service:
          type: string
          description: Service identifier
          example: wave-realtime-edge
        layer:
          type: string
          description: Protocol Plane layer identifier
          example: edge
        protocol:
          type: string
          description: Protocol handled by this worker
          example: webrtc-sfu
        version:
          type: string
          description: Deployed version string
          example: dev

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Machine-readable error code
          example: REALTIME_NOT_IMPLEMENTED
        message:
          type: string
          description: Human-readable description (optional)
        path:
          type: string
          description: Request path that triggered the error (present on 501s)

    PaymentChallenge:
      type: object
      description: |
        Structured form of the x402 payment challenge returned in the 402 body.
        The canonical challenge is in the `WWW-Authenticate: Payment …` header;
        this JSON body is a convenience for clients that cannot read raw headers.
      required: [realm, amount, asset, network, payTo, nonce]
      properties:
        realm:
          type: string
          description: Service realm
          example: wave
        amount:
          type: string
          description: Charge amount in token minor units (e.g. USDC 6-decimal)
          example: "1000"
        asset:
          type: string
          description: On-chain token contract address
          example: "0xUSDC"
        network:
          type: string
          description: EIP-155 chain ID as a string
          example: "8453"
        payTo:
          type: string
          description: Treasury address to pay
          example: "0xTREASURY"
        nonce:
          type: string
          description: One-time nonce; must be included in the settlement proof
          example: abc123

  securitySchemes:
    waveTokenV1:
      type: http
      scheme: bearer
      description: |
        `wave-token-v1` Bearer token issued by the WAVE gateway.
        Pass as `Authorization: Bearer <token>`.
        The edge worker forwards this header to the gateway; auth decisions
        are made upstream, not in the edge worker itself.

    x402Payment:
      type: apiKey
      in: header
      name: Authorization
      description: |
        On-chain payment settlement for metered connections (x402).
        After receiving a `402` challenge, settle the on-chain charge and retry
        with `Authorization: Payment <base64-settlement-proof>`.
        The edge worker forwards the `X-Payment` / `Authorization: Payment`
        header upstream for verification.
